// Primary Colors
$violet : #5362ff;
$lightViolet : #939BF4;
$veryDarkBlue : #19202D;
$midnight : #121721;

// Secondary Colors
$white : #FFFFFF;
$lightGrey : #F4F6F8;
$gray : #9DAEC2;
$darkGrey : #6E8098;